.table-container {
    max-width: 100em;
    max-height: 30em;
    overflow-y: auto;
    border: 1px solid darkgray;
    border-radius: 15px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    margin-top: 8em;
}